# Copy this file to .env or just set these environment variables

# default port is 3000
export PORT=3000

# your AWS key
export AWS_KEY=

# your AWS secret
export AWS_SECRET=

# the AWS region where your S3 bucket is hosted. may not be required
# see http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region
export AWS_REGION=

# your S3 bucket
export AWS_BUCKET=

# hostname for this server according to your browser
# if they don't match then Persona will not work
export HOSTNAME="http://localhost:3000"

# secret used to sign cookie. any long string will do
export SECRET=
